<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1>E<span>Tontine</span></h1>
      </a>
  
    </div>

  </header>
  <!-- End Header -->


  <br><br><div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-35 p-r-35 p-t-88">
            <span class="login100-form-title">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter fisrt name">
                    <input class="input100" type="text" name="Fisrt name" placeholder="Fisrt name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter last name">
                    <input class="input100" type="text" name="Last name" placeholder="Last name">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter number">
                    <input class="input100" type="text" name="Phone Number" placeholder="Phone Number">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please repeat your password">
                    <input class="input100" type="password" name="re_password" placeholder="Repeat your password">
                    <span class="focus-input100"></span>
                </div>

                <div class="text-right p-t-13 p-b-23">
                    <!-- <span class="txt1">
                        Forgot
                    </span> -->

                    <!-- <a href="#" class="txt2">
                        Username / Password?
                    </a> -->
                </div>

                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span> I agree all statements in  <a href="#" class="term-service"><strong><u>Terms of service</u></strong></a></label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Submit
                    </button>
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">
                        Have already an account ?
                    </span>
                    <a href="/connexion" class="txt3">
                        Sign in
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>