/* tableaux */

table{
    
    outline: 0;
    z-index: 999;
    top: 25%;
    margin-left: 280px;
    transform: translate(-25%,-25%);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 12px;
    border-spacing: 0;
    overflow: hidden;

  }
  
  th{
    background-color: #f96f59;
    color: #fafafa;
    text-transform:uppercase;
  }
  
  th, td{
    padding: 10px 15px;
    font-family: Ubuntu-Regular, sans-serif;
    border-bottom: 1px solid #ddd;

  }

  tr:nth-child(odd){
    background-color: #eeeeee;
  }
  
.table-container{
    display: inline-block;
    width: 80%; 
    box-sizing: border-box;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    caption-side: top;
    position: relative;
}

/* .tab1{

    margin: auto;
    padding: auto;
    outline: 0;
    z-index: 999;
    top: 25%;
    margin-left: 150px;
    transform: translate(-25%,-25%);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 12px;
    border-spacing: 0;
    overflow: hidden;

} */
